* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: #f5f9fb;
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Open Sans', sans-serif; */
  /* font-family: 'Sansita Swashed', cursive; */
  /* font-family: 'Montserrat', sans-serif; */
}

header {
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000px;
  transform: translate3d(0, 0, 0);
  transform: translateZ(0);
  will-change: transform;

  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../media/images/cloth.jpg');
  background-position: center;
  background-size: auto;
  width: 100%;
  height: 300px;
  position: fixed;
  top: 0;
  z-index: 1;
}

nav {
  position: absolute;
  left: 0;
  right: 0;
  top: -35px;
  font-family: 'Montserrat', sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 250px;
  width: 94%;
  position: sticky;
  height: 100px;
  background-color: white;
  box-shadow: 0px 3px 20px -10px #bbbbbb;
  z-index: 3;
  border-radius: 5px;
  min-width: 95%;
  max-width: 100%;
}

.nav-links {
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
}

.nav-link {
  display: inline-block;
  width: 25%;
  text-align-last: center;
  text-decoration: none;
  color: black;
}

#active {
  padding: 0 10px;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 95%;
  height: 3px;
  /* background-color: rgba(255, 0, 0, 0.151); */
}

.indicator {
  display: flex;
  width: 20%;
  transition: left 250ms ease;
  position: absolute;
}

#active-indicator {
  display: inline-block;
  width: 20%;
  height: 3px;
  order: 1;
  border-radius: 10px;
}

#active span:nth-child(2) {
  order: 2;
}

#active span:nth-child(3) {
  order: 3;
}

#active span:nth-child(4) {
  order: 4;
}

.indicator[data-order='1'] {
  left: 4%;
  background: rgb(255, 141, 55);
  background: linear-gradient(
    90deg,
    rgba(255, 141, 55, 1) 0%,
    rgba(4, 125, 255, 1) 51%,
    rgba(255, 104, 104, 1) 100%
  );
}

.indicator[data-order='2'] {
  left: 28%;
  background: rgb(249, 255, 101);
  background: linear-gradient(
    90deg,
    rgba(249, 255, 101, 1) 0%,
    rgba(4, 125, 255, 1) 44%,
    rgba(255, 85, 131, 1) 86%
  );
}

.indicator[data-order='3'] {
  left: 52%;
  background: rgb(255, 56, 90);
  background: linear-gradient(
    90deg,
    rgba(255, 56, 90, 1) 0%,
    rgba(4, 125, 255, 1) 44%,
    rgba(236, 85, 255, 1) 86%
  );
}

.indicator[data-order='4'] {
  left: 75%;
  background: rgb(101, 255, 163);
  background: linear-gradient(
    90deg,
    rgba(101, 255, 163, 1) 0%,
    rgba(4, 125, 255, 1) 44%,
    rgba(255, 85, 131, 1) 86%
  );
}

h2#name {
  text-align: center;
  display: block;
  padding: 5px;
  font-weight: 500;
}

main {
  position: relative;
  z-index: 2;
}

.card {
  margin: 10px auto;
  width: 94%;
  height: 300px;
  background-color: white;
  border-radius: 5px;
  z-index: 2;
  box-shadow: 0 10px 20px 0 rgba(0, 25, 50, 0.05);
}

.card-anchor-link {
  position: relative;
  top: -70px;
}

.active {
  /* color: #047dff; */
}

/* .card:first-child,
.nav-link:first-child {
  display: none;
} */
